[2021-08-02 12:38] zeref221 opened #1 "Aug 7th sess"
#test

[2021-08-02 12:41] manaswiproject commented on #1
@Shreeya-Kadam @naman-hora @Rahul-Shah12 @nayanavarghese11 This is a test

[2021-08-02 12:41] manaswiproject commented on #1
Comment if you've recieved a mail due to your mention in the comment

[2021-08-02 12:46] nayanavarghese11 commented on #1
Got it!

[2021-08-02 12:46] naman-hora commented on #1
test comment

[2021-08-02 13:05] shrabanagupta commented on #1
test

[2021-08-02 14:11] manaswiproject commented on #1
@nayanavarghese11 @zeref221 @naman-hora @Rahul-Shah12 @unorthodox19112001 @KavishaShroff02 @Debkalyan44 @anuushkajoshi @Asteriskbruh @tanishqua27 @vinita08 @shrabanagupta @mayankgandhi1307 @Samruddhi-123 @007divy @iris-byte @shraddhashinde02

Everyone pls try and change project. Move this issue around.
eg: 'To do' to 'in progress' to 'review in progress'

Try to change the label
eg: Remove 'new ta

[2021-08-02 14:12] manaswiproject commented on #1
If you have doubts, comment here

[2021-08-02 14:22] iris-byte commented on #1
Got It! @manaswiproject

[2021-08-02 14:52] manaswiproject commented on #1
**FROM NOW ON, ALL TASKS RELATED TO SESSION 1 WILL BE PUT IN THE PROJECT "Session 1"**

Click on settings, next to "Projects" (top right corner) and select "session1"

[2021-08-03 06:41] manaswiproject opened #2 "Holistic activity ideas!"
A **virtual treasure hunt**. Bunch of "academic clues" will lead to a conclusion. Participants can make teams of x members (5>=x>=3). First team to reach end wins

Things to do:
1. Build a (interesting) story
2. Write (solvable) clues
3. Make rules

Time taken: Upwards of 2 hours

#comment suggestions, changes or concerns

[2021-08-03 07:03] zeref221 commented on #2
**Introductory video ideas** _(Even if we aren't doing it, we can incorporate these ideas in some other way)_

 • Reels (An interface where we can see a person scrolling and we can see the reels where we can give introduction of our club)

 • YouTube reaction video format ( Everybody likes rxn videos and we can even comment of stuff using this)

 • The office (show) types interview (imaginary) que

[2021-08-03 07:06] zeref221 commented on #2
**Random ideas for bioeng club**

- Rap battle btw Career and holistic
- Tacos Tuesday
- Make a pantry for our college! (Priority basis?)

[2021-08-03 07:15] zeref221 commented on #2
#test

[2021-08-03 07:18] #2 closed, assigned to nobody

[2021-08-03 07:23] zeref221 opened #3 "Random Ideas!"
- **Introductory video idea**s (Even if we aren't doing it, we can incorporate these ideas in some other way)

 • Reels (An interface where we can see a person scrolling and we can see the reels where we can give introduction of our club)

 • YouTube reaction video format ( Everybody likes rxn videos and we can even comment of stuff using this)

 • The office (show) types interview (imaginary) que

[2021-08-03 07:24] manaswiproject opened #4 "Holistic activity ideas"
### ALTERNATE REALITY GAME

A virtual treasure hunt. Bunch of "academic clues" will lead to a conclusion. Participants can make teams of x members (5>=x>=3). First team to reach end wins

Things to do:
1. Build a (interesting) story
2. Write (solvable) clues
3. Make rules
Time taken: Upwards of 2 hours

#comment suggestions, changes or concerns

[2021-08-03 07:26] zeref221 commented on #3
**Random ideas for bioeng club**

Rap battle btw Career and holistic
Tacos Tuesday
Make a pantry for our college! (Priority basis?)

[2021-08-03 07:28] manaswiproject commented on #3
+1 for idea 3 (the office interview)

[2021-08-03 09:40] aagambamb commented on #3
Rap Battle seems interesting only problem is more participation is needed

[2021-08-04 16:04] poornaaa commented on #4
**Shout in the silence**
Many of us have been in a Zoom meeting when a presenter’s audio cut out or the speaker forgot to take the microphone off mute. **Shout in the silence** turns this awkward or frustrating situation into a fun game.

To play,
1.)The team will choose a domain from which the word/phrase has to be given (eg, genetics, microbiology, cell bio etc)
2.)One participant will mute the

[2021-08-04 16:06] poornaaa commented on #4
**listening aptitude quiz**
We will tell the contestants that Saturday session ke ek particular section
For eg say the bio news section say the MCQ questions will be asked.
Nothing out of the content spoken in the section would be asked.
This can increase the number of active participants (since most of them just sleep after joining the meeting) and test the student's attentiveness and listening s

[2021-08-08 06:47] mayankgandhi1307 commented on #3
For Holistic especially for the photography club, we can call preetam sir to share one of his tour experiences and talk about his motive behind those clicks. We can also call other teachers like Jeevan Sir, HS sir(if possible) for their experiences also can contact seniors like Aditya Wakins etc for his Wildlife stories

I'm planning more we will talk about on this in the next Core Committee Meeti

[2021-08-08 08:05] zeref221 commented on #4
From:- @Samruddhi-123  #_This was originally written in the word doc for ideas Original idea can be found in the description of the BEC group  on whatsapp_

For the session ideas, I was thinking about a mini hackathon where we decide 2-3 topics and ask people to just come with the problems(like what all problems are present around the topic)
-This will enhance interaction
-critical thinking
- peop

[2021-08-08 08:07] zeref221 commented on #4
From @Sanyogita22  -  # _This was originally written in the word doc for ideas Original idea can be found in the description of the BEC group on whatsapp_

So as we have to do an academically oriented activity, Can we conduct an article writing competition…we can give them a main topic like say biomedical engg and then let them choose any sub part of it and write about it in not more than 500 word

[2021-08-08 08:09] zeref221 commented on #4
From @poornaaa - # _This was originally written in the word doc for ideas Original idea can be found in the description of the BEC group on whatsapp_

In the recap video(idk if that's what it is called, (the one photography team is going to make for every month)
For this month ka vid, we can start of the vid by showing the change from old logo to new and proceed to add the competition clip, winner

[2021-08-08 08:11] zeref221 commented on #4
**Speed Dumb charades** with terms used in bioengineering (Will build the expressive and creative mind of the student while trying to act words used in academics.)

From @aagambamb and @poornaaa  - # _This was originally written in the word doc for ideas Original idea can be found in the description of the BEC group on whatsapp_

Rules.
1.) Teams of 4 will be created from the lists of participants

[2021-08-08 12:28] Sanyogita22 commented on #4
As the tentative date the we have got is 14th august, so why not add an extra segment to this first session of bioengg club where in which we can add few talks about the **independence that can be brought to normal life with the help of bioengg field**……idk how to exactly frame this sentence but like talking in brief about things like say for example prosthetics (bionic limb, TMR or anything else)

[2021-08-09 03:59] zeref221 commented on #4
Oh I think, I get what you are trying to say. And it's interesting, will bring this up during the meeting. 👍🏻

[2021-08-11 12:16] zeref221 opened #5 "Event 1"
PR message:
@Samruddhi-123

Poster:
@Shreeya-Kadam

[2021-08-11 13:25] zeref221 commented on #5
[https://docs.google.com/document/d/1ssM5OTr-nEBVU0NnBva90Da3-t6RzPqoB3yVMowJXbA/edit?usp=sharing](document)

[2021-08-11 13:27] manaswiproject opened #6 "Create PR message for holistic event 1"
Pls create PR message for event 1 and post here
Deadline- Thursday 12pm

[2021-08-11 13:31] manaswiproject opened #7 "Prepare poster for Holistic event 1"
Posters to make:
1. Main poster that goes with PR message and registration form
2. Final round poster
3. Winner poster

Deadline- Thursday 12pm

[2021-08-12 06:28] Anushka-CC-DS commented on #6
I have drafted a message, let me know if it needs any changes.

Good evening fellow Bioengineers,
We sincerely hope all of you are doing well and are safe!
This weekend, the Bioengineering Club is psyched to be hosting a holistic event filled with informative fun.
We have planned an interactive game of ‘Heads Up’ and encourage each and every one of you to participate and make this session a succes

[2021-08-13 06:32] #6 closed, assigned to Samruddhi-123, Anushka-CC-DS, tanishqua27, Sanyogita22

[2021-08-13 06:32] #7 closed, assigned to nayanavarghese11, Shreeya-Kadam, aagambamb, vinita08

[2021-08-15 18:43] #5 closed, assigned to nobody

[2021-08-15 18:51] #1 closed, assigned to nayanavarghese11, Shreeya-Kadam, naman-hora, Rahul-Shah12, manaswiproject, amalanbr, Sanyogita22

[2021-08-18 15:59] zeref221 commented on #3
We can have annual tours of BEC (Both national and international!)

[2021-08-19 07:24] mayankgandhi1307 commented on #3
Sorry treasury doesn't have funds but I love the idea <3

[2021-08-20 18:07] Shreeya-Kadam opened #8 "Social media"
First post for social media (Instagram ,LinkedIn, Twitter)
Come up with caption (mostly stating careers and holistic part)

[2021-08-21 00:10] KavishaShroff02 opened #9 "PR Team- Saturday event"
- [x]  keep creative messages for the Saturday event invitation ready- For 3rd and 4th year.
- [x]  keep creative messages for the Saturday event invitation ready- faculty.
- [x]  meet with bio news people and brainstorm ideas and figure out how it's gonna happen.
- [x]  communicate with anchors and figure out the flow and who is gonna proofread.
- [ ] contact the creative team if find good conten

[2021-08-21 00:12] KavishaShroff02 opened #10 "Photography team+ Creative"
- [ ]  introductory video
- [x] #14

[2021-08-21 05:07] zeref221 commented on #3
Resume workshop
Bonfire night & Marshmallows
Karaoke night
Townhall meeting (speak up and make your voice be heard)
Networking events
Chalk talk (where faculty talks about their area of interest)
Winter retreat
Middle -Highschool school outreach event (Introducing the coming generations about the field)

[2021-08-21 05:10] zeref221 commented on #3
Trekking Thursday's
Freaky Friday's
Stand up Saturday's

[2021-08-23 13:52] manaswiproject commented on #4
**Mascot for club**
(Non priority basis- To be done when first years come)

Like the science day event "Sci-Trait", we could have the students deisgn a moscot for the club through a holistic acitvity and the winner's mascot becomes the BEC mascot.
Check SBSR Cultural kattas instagram for reference:-
https://www.instagram.com/p/CMhnJdpDnkw/?utm_medium=copy_link
https://www.instagram.com/p/CMhm19XjQ

[2021-08-23 13:58] manaswiproject commented on #4
**Group discussion** but we have 2 sides (for and against). Like a mix of GD and debate, except there is no winner at the end. We can invite teachers to be a part of the groups

[2021-08-23 15:26] shrabanagupta commented on #4
Seems to be a pretty good idea but I'm a little doubtful about the attendance. Rest all cool!

[2021-08-23 15:59] manaswiproject commented on #4
@shrabanagupta I am too. If you guys can think of a way to make this more interesting or atleast make it sound more fun, then that would be appreciated

Ofcourse, new ideas are welcome too :)

[2021-08-24 01:10] KavishaShroff02 commented on #4
we could do the idea we has for the journal club,
like have 2 faculties who mediate the discussion

[2021-08-24 04:30] Samruddhi-123 commented on #4
**Prince of Holistic BEC**
A person will have a list of things that are usually present in our houses.That person will say, "Prince of BEC wants a black pen"
everyone in the meeting would get up and find the required thing in 5 secs(we can decide on time) and show the prince/princess that particular thing.

Cameras are supposed to be turned on, the list would be decided prior to the event with bas

[2021-08-24 04:49] 007divy commented on #4
clg ke bechhe yeh thodi karna chahenge
we need to pitch this idea in a different and more interesting way...cause on current idea ppl wont come or participate.

[2021-08-24 04:51] 007divy commented on #4
We already have Debate club for doing this stuff....+ waha pe bhi log participate nahi karte toh BEC mai kaise karenge

[2021-08-24 05:28] Sanyogita22 commented on #4
we can play a game sort of like last time...where in ppl have to guess the word....just that this time we would display pictures which make a term....for example if the word is water cycle toh we can show a picture of water and a bicycle( ofc not this much easy but something like this).

[2021-08-24 05:34] 007divy commented on #4
Yesss Yesss, Triyakh was suggesting the same
but ig we should do this session after 2 session, cause it will bring more ppl
thoda thoda time pe dose dete rahenge

[2021-08-24 05:54] Sanyogita22 commented on #4
something like Scattergories can also be played....in this generally one letter is given and we have to name a name, place, animal, thing starting with that letter...for a change here we can give a letter or genre and ask them to note 5 words related to it within a particular time limit.
for example:
genre-bioinfo    1.annotation 2.EMBL 3.fingerprinting
or
letter- R         1.ribosomes 2.rennin 3.

[2021-08-24 06:44] poornaaa commented on #4
Relate The Words.
1.) A Team game
2.) Participants will be divided into teams.
3.) The moderator will give them two absolutely unrelated words.
Eg. Banana and Ariana Grande
One by one each team member will say a word related to the word said b4.
Taking Same eg:-
Say there are three people in a team (P1, P2, P3)
The word given - banana
P1 - says something closely related to banana (let's say he sai

[2021-08-24 11:50] poornaaa commented on #4
To add something interesting -
(Inspired from Never have I ever)
1.) take a crime court story (from the internet )
    --> We will give this story to the team members one day prior so they can understand the case and their roles.
2.)Instead of a For and Against - We'll divide them into Prosecution and Defense, and let them fight to win their part.
3.)Teachers would be the judge and *THE STORY WILL

[2021-08-24 11:59] mayankgandhi1307 commented on #4
For Holistic especially for the photography club, we can call preetam sir to share one of his tour experiences and talk about his motive behind those clicks. We can also call other teachers like Jeevan Sir, HS sir(if possible) for their experiences also can contact seniors like Aditya Wakins etc for his Wildlife stories

I'm planning more we will talk about on this in the next Core Committee Meeti

[2021-08-24 12:06] poornaaa commented on #4
We can also add a segment named " Basics of Photo editing " (smtg like that) , where The members good at photography and editing give some tips and tricks on how to edit photos and make them look "aesthetic" for ig or social media , which might attract more viewers

[2021-08-24 17:25] manaswiproject opened #11 "Science and Marvel Topics"
Already given topics:
1. Captain America experiment- ethical or not?                                                                                                                                   2. Was Thanos right?
3. Use of science in war -> bio weapons (Ironman)
4. Time travel- possible or not (Doc Strange)
5. Will AI give rise to Ultron vs Vision
6. Doctor Octavius was onto something, he w

[2021-08-24 17:29] manaswiproject opened #12 "PR message for Holistic event 2- Science and Marvel"
Pls give all updates here

[2021-08-24 17:32] manaswiproject opened #13 "Poster for Science and Marvel event"
Pls give all updates here

[2021-08-25 07:35] vinita08 commented on #13
Suggestions are welcomed! Also please send details of the event.
![marvel poster](https://user-images.githubusercontent.com/88326489/130746624-6722921e-54db-4e04-b93e-1265b83c6857.png)

[2021-08-25 07:47] manaswiproject commented on #13
Few changes:
1. Change font for "science in"
2. Make J capital in "join"
3. Picture for MCU is very blurry. Maybe we can get a better one? Without the black box?
4. Picture for BEC also has Black box around it. That should preferably be removed too
5. Align the whole "BEC X MCU." Its not in the center

**Other than all this, great job!**

[2021-08-25 07:49] vinita08 commented on #13
virtual backgrounds for moderators
![virtual background for moderators](https://user-images.githubusercontent.com/88326489/130749009-5ec4563f-8207-44f6-989d-f6240651a0c2.png)
![virtual background for moderators (1)](https://user-images.githubusercontent.com/88326489/130749293-a236d7fc-b85d-48bf-a85a-4ea9d33d639c.png)
![virtual background for moderators (3)](https://user-images.githubusercontent.co

[2021-08-25 07:55] vinita08 commented on #13
1. should i keep same font as "marvel"? or try some other font?
3. Ill try to find a better pic but not sure whether ill get without the black box

[2021-08-25 07:58] 007divy commented on #13
Can you also make backgrounds for Loki, Hulk, Dr. Strange, something related to Jarvis too!

[2021-08-25 08:00] vinita08 commented on #13
Yes for that please let me know how many members are taking part for moderators with what roles.

[2021-08-25 08:04] 007divy commented on #11
Moderators:

- Neilay
- Divy
- Naman
- Arya
- Anushka Joshi

Host

- Poorna

[2021-08-25 08:28] manaswiproject commented on #13
@vinita08
1. Same font as "MARVEL" will do
2. I'll try to find one without the box too. I'll upload here if i find it

[2021-08-25 08:31] 007divy commented on #13
For now, we need BG for Captain America, Ironman, Spiderman, Loki, Hulk, DR. Strange and also one Avenger base for all other team members.

[2021-08-25 08:33] manaswiproject commented on #13
![Marvel](https://user-images.githubusercontent.com/81001658/130756731-41367473-d84f-4095-9393-3c5fea631af9.png)
![Marvel 2](https://user-images.githubusercontent.com/81001658/130756741-bc000904-5d47-40c4-92bc-7023ad69be26.png)

[2021-08-25 08:33] manaswiproject commented on #13
These should work

[2021-08-25 08:34] Shreeya-Kadam commented on #13
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fsearch%2Fprojects%2F%3Fsearch%3Dmarvel-cinematic-universe&psig=AOvVaw1PF61eNZWKkoQYFVBJ2fva&ust=1629966837334000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPCr0OXhy_ICFQAAAAAdAAAAABAD
@vinita08 check out this link

[2021-08-25 08:36] Shreeya-Kadam commented on #13
![marvel](https://user-images.githubusercontent.com/80977532/130757298-a3503004-1f28-41a4-a34d-57cc18a27276.png)

Check this one @vinita08

[2021-08-25 08:43] 007divy commented on #13
Check this out!1
Aagam made this
![WhatsApp Image 2021-08-25 at 2 06 20 PM](https://user-images.githubusercontent.com/80999835/130758432-f120c0f3-a029-4bdc-b7e6-3de7b0af72f2.jpeg)

[2021-08-25 08:44] Shreeya-Kadam commented on #13
![marvel-removebg-preview](https://user-images.githubusercontent.com/80977532/130758645-5b7de75b-1827-4257-921d-e8838160d951.png)

Without background

[2021-08-25 09:02] Shreeya-Kadam commented on #13
![Uploading marvel poster.png…]()

This is the updated poster.

[2021-08-25 09:08] Shreeya-Kadam commented on #13
![marvel poster](https://user-images.githubusercontent.com/80977532/130762190-eaa71ca1-5add-45ae-8213-8cf5c7a73298.png)

This is the updated poster.

[2021-08-25 09:28] vinita08 commented on #13
loki, dr. strange, hulk, common
![virtual background for moderators (9)](https://user-images.githubusercontent.com/88326489/130765426-07fe52aa-2dbb-4dd6-b186-bba9da734860.png)
![virtual background for moderators (8)](https://user-images.githubusercontent.com/88326489/130765431-ed16ae79-dd5c-4427-a1cc-ae3172f58c78.png)
![virtual background for moderators (7)](https://user-images.githubusercontent.c

[2021-08-25 10:01] vinita08 commented on #13
![virtual background for moderators (8)](https://user-images.githubusercontent.com/88326489/130770294-eaea2579-8b6a-4dd0-9c90-6e88fd2ccc93.png)
![virtual background for moderators (7)](https://user-images.githubusercontent.com/88326489/130770313-b40c0959-e0da-4580-8a82-8e0f5b2205fb.png)
![virtual background for moderators (9)](https://user-images.githubusercontent.com/88326489/130770493-a68bb665-0

[2021-08-25 10:04] nayanavarghese11 commented on #13
[Uploading Marvel Pos.zip…]()

[2021-08-25 10:05] nayanavarghese11 commented on #13
![1](https://user-images.githubusercontent.com/68808399/130771382-10a9bbfe-1cb8-413c-9a3b-75ddb8370a9f.png)
![2](https://user-images.githubusercontent.com/68808399/130771387-7767f8f1-ca17-46dc-a391-08aefc5c5121.png)
![3](https://user-images.githubusercontent.com/68808399/130771390-bb49f5eb-974a-4691-b487-d583586b8da3.png)
![4](https://user-images.githubusercontent.com/68808399/130771395-565454cc-6

[2021-08-25 10:26] aagambamb commented on #13
Aagam here aded some quotes of super heroes

![WhatsApp Image 2021-08-25 at 4 00 36 PM](https://user-images.githubusercontent.com/80999835/130776689-55d2b045-0a9a-4e24-a3f8-376510b80681.jpeg)

[2021-08-25 12:03] a24s opened #14 "Hands Up Event video"

[2021-08-25 16:41] manaswiproject commented on #13
@nayanavarghese11 Pls work on Poster no 3. Specification will be told by @Shreeya-Kadam

[2021-08-25 16:43] manaswiproject commented on #12
PR team pls send the PR message with form link here

[2021-08-25 16:46] unorthodox19112001 commented on #10
https://drive.google.com/file/d/1uUXPG_HrswacgqQ3OfRg9-Mx7k4wz3YS/view?usp=sharing
Event video

[2021-08-25 16:50] manaswiproject commented on #14
Final video link- https://drive.google.com/file/d/1uUXPG_HrswacgqQ3OfRg9-Mx7k4wz3YS/view?usp=sharing

[2021-08-26 04:58] nayanavarghese11 commented on #13
Poster 3: Updated

![Marvel Pos](https://user-images.githubusercontent.com/68808399/130903217-fd533cf8-5bba-4e0d-8caa-f7924a37ffe4.png)

[2021-08-26 05:01] nayanavarghese11 commented on #13
![Marvel Pos (1)](https://user-images.githubusercontent.com/68808399/130903574-f10c7988-a759-4379-9452-cc71e950e2e5.png)

[2021-08-26 05:10] nayanavarghese11 commented on #13
The character portion in the above poster is a little blur, so if someone gets a clearer pic please send it.

[2021-08-26 06:24] nayanavarghese11 commented on #13
![9](https://user-images.githubusercontent.com/68808399/130911740-d2d24ed8-8375-47e6-ada5-f8e24f6a0c1a.png)

[2021-08-26 06:24] nayanavarghese11 commented on #13
Few more sample posters.

![10](https://user-images.githubusercontent.com/68808399/130911773-a8b100fc-8e67-486e-a06b-53b4b76833bd.png)

[2021-08-26 06:25] nayanavarghese11 commented on #13
![11](https://user-images.githubusercontent.com/68808399/130911846-23cd5af7-60c5-4a7a-91a9-b88b30d8f075.png)

[2021-08-26 06:25] nayanavarghese11 commented on #13
![12](https://user-images.githubusercontent.com/68808399/130911916-58f24310-20ab-4e4f-a738-42fadf221d0a.png)

[2021-08-26 06:34] manaswiproject commented on #14
We have a few suggestions about the video background music. We'll discuss them in the meeting today. The issue isn't closed yet

[2021-08-26 06:48] Anushka-CC-DS commented on #12
Avengers Assemble!
Join us for a group discussion this Saturday on 28th August,2021 where we discuss everything from science and experiments to unsolved superhero mysteries and their mind boggling creations.
As Captain America once very wisely said,"Whatever it takes."
Join in this Saturday and come be a part of our own little Marvel universe!

[2021-08-26 06:49] Anushka-CC-DS commented on #12
Let me know if it requires any changes

[2021-08-26 07:06] manaswiproject commented on #12
Doubtful on whether we should write "Avengers Assemble" cause technically its just a small part of Marvel, not the whole thing. Will leave it up to others to decide if to keep it or change it. Not a big deal

"As Captain America once very wisely said,"Whatever it takes." - what are we trying to imply here? Whatever it takes for what?

**Other than that, its crisp and to the point. Love it!**

[2021-08-26 07:17] zeref221 commented on #12
If we can use another quote instead of Captain America wala then it would be great.
Avengers assemble is fine ig, it would capture attention as its starting of the message.
Rest all is nicely written!

[2021-08-26 07:33] Shreeya-Kadam commented on #11
we need the characters they would like to represent so creative team can make a virtual bg

[2021-08-26 07:39] zeref221 commented on #12
Can we use some key words like marvel has
**What if Wednesday's**

So maybe we can have **Suppose Saturday's**

[2021-08-26 07:39] unorthodox19112001 commented on #13
@nayanavarghese11 Could you please join the letters of BEC just like MARVEL?

[2021-08-26 07:55] 007divy commented on #12
Can we change "Join us..." from the start?....cause we don't need "join in/join us" two times in a single msg.

[2021-08-26 09:10] 007divy commented on #13
@vinita08  Is it possible to remove the white bg of the logo?

[2021-08-26 09:10] zeref221 commented on #11
- Can there ever be spiderman in real life?

(There are anatomical differences in spider and Peter Parker, which makes existence of spiderman impossible. Discuss how and why you would try to make spiderman into reality)

- Venom and Carnage are extraterrestrial microorganisms, discuss possibilities about this happening in real life and the course of action that can be taken in events of this happe

[2021-08-26 09:17] vinita08 commented on #13
![marvel poster (2)](https://user-images.githubusercontent.com/88326489/130936465-b96fb17e-d260-4fb7-9102-d467bec1a640.png)

[2021-08-26 09:50] nayanavarghese11 commented on #13
![Marvel Pos (2)](https://user-images.githubusercontent.com/68808399/130941989-a7c99bf0-f5da-4a90-a590-e859ce6cbaea.png)

[2021-08-26 10:33] nayanavarghese11 commented on #13
![13](https://user-images.githubusercontent.com/68808399/130947844-203da489-24e7-4dd4-b7e5-a4bfda36f64b.png)

[2021-08-26 10:33] nayanavarghese11 commented on #13
![14](https://user-images.githubusercontent.com/68808399/130947907-e4f32239-7496-425e-a007-179efa1ff92f.png)

[2021-08-26 11:14] Sanyogita22 commented on #12
https://docs.google.com/forms/d/e/1FAIpQLScpu1QoUhRVZcG2zy7dF45_sCosRcfrX9YDaBef6rkaYTPHgA/viewform?usp=sf_link
registration form

[2021-08-26 11:38] tanishqua27 commented on #12
https://docs.google.com/forms/d/e/1FAIpQLScpu1QoUhRVZcG2zy7dF45_sCosRcfrX9YDaBef6rkaYTPHgA/viewform?usp=sf_link
Edited registration form

[2021-08-26 12:28] manaswiproject commented on #11
**FINAL TOPICS:**

1. Was Thanos right?
2. Will AI give rise to Ultron vs Vision
3. Cross specie experimentation should be conducted or not... if so then on what basis? (Spidey and his villains)
4. Venom and Carnage are extraterrestrial microorganisms, discuss possibilities about this happening in real life and the course of action that can be taken in events of this happening

[2021-08-26 12:43] manaswiproject commented on #11
Host- Poorna, Debkalyan(R)

1. Naman(M), Poorna (R), Shrabana(D)
2. Anushka J(M), Debkalyan(R), Amala(D)
3. Arya(M), Kavisha(R), Aditiy(D)
4. Neilay(M), Aditya(R), Priya(D)

Trivia- Anushka S, Debkalyan(R)

[2021-08-26 17:37] manaswiproject commented on #11
1. Was Thanos right? Is there any other way to achieve this "perfect balance"?
2. Will AI give rise to Ultron vs Vision?
3. Scientific possibilities and consequences of cross species experimentation in the Sinister 6.
3. Cross specie experimentation should be conducted or not... if so then on what basis? (Spidey and his villains)
4. Venom and Carnage are extraterrestrial microorganisms. Discuss th

[2021-08-26 17:38] manaswiproject commented on #12
Bioengineers, Assemble!

"There was an idea to bring together a group of remarkable people, to see if we could become something more"

Join us for a group discussion this Saturday on 28th August, where we brainstorm everything from science and experiments to unsolved superhero mysteries and their real world implications.

Stay tuned for the Post Credit ;)

Register to participate:
https://forms.gl

[2021-08-26 17:38] #13 closed, assigned to nayanavarghese11, Shreeya-Kadam, aagambamb, vinita08

[2021-08-26 17:38] #12 closed, assigned to Samruddhi-123, Anushka-CC-DS, tanishqua27, Sanyogita22

[2021-08-26 17:39] #11 closed, assigned to nobody

[2021-08-26 17:41] #9 closed, assigned to Samruddhi-123, Anushka-CC-DS, tanishqua27, Sanyogita22

[2021-08-26 17:41] manaswiproject commented on #10
There is a separare issue for Hands up video. Post final video link there

[2021-08-26 17:42] #10 closed, assigned to nayanavarghese11, Shreeya-Kadam, unorthodox19112001, a24s, aagambamb

[2021-08-29 01:03] KavishaShroff02 commented on #4
Come up with a business plan to commercialize a product, value proposition, deciding the price of the product based on service, raw material- biomedical products

people could either register as teams of 2-3  and they get one week to come up, the final day they have to give an elaborate presentation.
panel of judges- one from the entrepreneur background, one from technical, one from science.

this

[2021-08-29 01:06] KavishaShroff02 commented on #4
JAM session- Just a Minute
give topic
they got a minute to describe all they know about that
for example
BLAST- full form, what alignment, what score, matrix and all that
make the faculty the judges they give scores for covering each topic.

good way to learn the syllabus, with a competitive spirit

[2021-08-29 01:08] KavishaShroff02 commented on #4
CASE analysis- like the journal club
mail papers beforehand, have a moderator
think of a way to make it fun

[2021-08-29 01:12] KavishaShroff02 commented on #4
Doodling and mindmap competition
specific topics
explain the process( from syllabus) via doodles

far away thought but if we convince some faculty to make this an assignment
for example, Preetam sir is super into this stuff, so if make a plan of organization,
all 2nd-year students have to select one topic from genetics and if we wanna include the 3rd years, then biophysics,
and then he can score.

[2021-08-29 01:13] KavishaShroff02 commented on #4
Agar art competition
when the college reopens.

[2021-08-29 08:38] zeref221 commented on #4
Some people said that Saturday evening they aren't available to join a meeting but maybe Saturday night can happen.

So what if we do movie night one weekend to unwind from academic stress! It would require less efforts but would not be that engaging as all would be watching a movie....

[2021-08-31 16:25] Shreeya-Kadam commented on #4
Shark tank but in bioengineering way

[2021-08-31 16:34] Sanyogita22 commented on #4
Unscramble the scrambled bioengg terms

[2021-09-01 10:35] zeref221 commented on #4
Meme competition of topics related to Bioengineering.

This would give creative freedom and make the concepts get better understood by people. We could just announce winners on Saturday.

[2021-09-02 05:15] manaswiproject commented on #14
https://drive.google.com/file/d/1sO9kruXCQxzNxfZUPcZU3T5rNMJDEbQu/view?usp=sharing

[2021-09-02 05:15] #14 closed, assigned to nobody

[2021-09-02 05:16] #8 closed, assigned to nayanavarghese11, unorthodox19112001, aagambamb, vinita08

[2021-09-02 12:03] unorthodox19112001 opened #15 "Rules for Meme competition"

[2021-09-02 12:07] manaswiproject opened #16 "PR message for meme competition"
Kindly give all updates here

[2021-09-02 12:10] manaswiproject opened #17 "Poster for Meme competition"
Kindly give up updates here

[2021-09-02 12:14] manaswiproject opened #18 "Video for Holistic Event 2: Science and Marvel"
@Asteriskbruh  Pls send final link here after you're done making the full video (for documentation)

[2021-09-02 12:47] unorthodox19112001 commented on #15
1. GIF or JPG format
2. Related to course that you had till now
3. Rules

Multiple entries are acceptable!
Please keep a good resolution in your submissions.
We will judge the submissions based on creativity, relevance, originality, and overall humor.
All the memes will be featured on our Instagram story.
Winners will get featured on Instagram Post.
Memes may not contain swear words, or other offe

[2021-09-03 00:44] KavishaShroff02 commented on #4
next discussion topic- something to do with Brain transplants

[2021-09-03 07:41] nayanavarghese11 commented on #17
Sample
![Meme War](https://user-images.githubusercontent.com/68808399/131968868-2b4520e2-563f-435a-acec-cc32304363ac.png)

[2021-09-03 08:35] nayanavarghese11 commented on #17
![Meme War (2)](https://user-images.githubusercontent.com/68808399/131976108-8d7e5fb3-1e3a-40de-8fec-d00fef5d8b64.png)

[2021-09-03 09:18] vinita08 commented on #17
![meme poster](https://user-images.githubusercontent.com/88326489/131981927-db131cdb-53c3-4ba5-b99a-efd1e71ae6a6.png)
For Stories

[2021-09-03 09:45] vinita08 commented on #17
![meme poster (3)](https://user-images.githubusercontent.com/88326489/131985644-9cc21e74-bef1-49d6-9e79-59e7a5769519.png)

[2021-09-03 10:01] Samruddhi-123 commented on #16
**Career Event**
BIOENGINEERING CLUB

(5mins)
Anchors- Prajakta, Tanvi(2mins)

BioNews- Arohi, Girish(5 mins)
(2mins)

Project- We are looking into it.

Internship Experience(10mins)
(2mins)

Startup Story
(2mins)

Guest Speaker-(25 mins)
Vote of thanks (2mins)[Ask Preetam sir]

[2021-09-03 10:13] a24s commented on #18
Video link: https://drive.google.com/file/d/1CWAdimAlhwHPkeM_dPhh9aqDXB4ndUhB/view
(not final, under review)

[2021-09-03 12:36] 007divy commented on #17
Left side wale pics mai, Can we use Drake waka template?

[2021-09-03 12:50] nayanavarghese11 commented on #17
![3](https://user-images.githubusercontent.com/68808399/132007844-ba69ef14-1bdc-4b34-a75b-6557c7a0a769.png)

[2021-09-03 12:50] nayanavarghese11 commented on #17
![5](https://user-images.githubusercontent.com/68808399/132007890-871f23a8-39ea-4bc5-8561-9e72af4a94da.png)

[2021-09-03 12:50] nayanavarghese11 commented on #17
![6](https://user-images.githubusercontent.com/68808399/132007944-831372f2-285e-4dd6-a8f8-3760baf4fa1f.png)

[2021-09-03 13:02] 007divy opened #19 "Freshers Event"
Date - 25th September, 2021
Invite all other club/grp's people (Ask their ppts too)
Set meeting with core-core next week (8th September, 9 PM)

- introduction of the event
- their roles
- ppt (first page-logo) [before - 20th September]
- Can we make one alag ppt for sare club's logo for starting the event?

Give us the final number of ppl coming from particular club

[2021-09-03 14:37] vinita08 commented on #17
![meme poster (4)](https://user-images.githubusercontent.com/88326489/132023032-b2841ce0-ac89-47aa-8c66-a898fea61fe3.png)
for stories

[2021-09-04 07:34] Sanyogita22 commented on #16
https://docs.google.com/forms/d/e/1FAIpQLSeBLrJXQlq3k_cWL6Sj2lwv9K8VyFatas6G8YAzeuxueizFow/viewform?usp=sf_link

https://sanyudhakane5.surveysparrow.com/s/Event-3--LORD-OF-MEMES/tt-faa0b055ad

[2021-09-04 13:58] Shreeya-Kadam commented on #17
please change 'meme contest' to 'Lord of Memes'

[2021-09-05 06:43] vinita08 commented on #17
![meme poster (5)](https://user-images.githubusercontent.com/88326489/132118006-a24f15f0-cdc7-4463-bd8a-aa4e5c0aa1b5.png)

[2021-09-05 08:24] Anushka-CC-DS commented on #16
Brace yourselves,the meme war is here!
The Bioengineering Club has planned a *drumroll please* a Meme War.
Get your meme faces on as Meme lords battle out their best memes on Saturday, _ September.
Show us what you got and send in your submissions by _ September.
Your memes should be related to our domain and should be original,and we'll see you all on Saturday.
May the best meme win!

[2021-09-05 08:24] Anushka-CC-DS commented on #16
Let me know if it requires any changes!

[2021-09-06 04:43] shrabanagupta commented on #16
could we just mention that "our domain" here means related to bioengineering?

[2021-09-06 06:26] manaswiproject commented on #16
MEMES WANTED! MIT BEC is looking for the **freshest quality of memes** (change to something better) and we are asking you, our funniest students, to provide them for us in our newest event: Lord Of The Memes
Show us what you got and send in your submissions by, Thursday 9th September.
Your memes must be original and could be related to anything bioengineering.
Multiple entries are allowed
Do you t

[2021-09-06 06:31] iris-byte commented on #16
Suggestion:
Brace yourselves and stand a chance to be entitled as The Lord Of Memes!
The Bioengineering Club has planned, _drumroll please_, a Meme War.
Get your meme faces on as Meme lords battle out their best memes on Saturday, _ September.
Show us what you got and send in your submissions by _ September.
Your memes should be related to our domain and should be original.
May the best meme win!

[2021-09-06 06:50] Sanyogita22 commented on #16
can we keep it just one attempt

[2021-09-06 06:54] manaswiproject commented on #16
@Sanyogita22
This form looks great! Just a few small changes:

1. Pls change the the title to "Lord of **the** memes"
2. Change "Your good name" to "Name"
3. Remove the mood smileys at the end
4. Change rule 2 to: "The meme photo should be in .jpg or .jpeg format with a file size not above 10 MB"
5. Add space betrween rule 3 and 4
6. In Judging criteria change line no 3 to : "Relevance: How releva

[2021-09-06 06:56] manaswiproject commented on #16
As in, you want to keep just one entry per participant?
We actually wanted to allow multiple entries so people can have a little fun with it and so that we get more submissions. Also, so that the winners feel like they won from a big pool of participants XD

[2021-09-06 06:57] Sanyogita22 commented on #16
yuppp i'll do it

[2021-09-06 06:58] Sanyogita22 commented on #16
so in that case what i'll do is keep 3 or 5 upload slides
is that okay?

[2021-09-06 07:00] manaswiproject commented on #16
Perfect! That works!

[2021-09-06 07:39] Sanyogita22 commented on #16
can u please tell me the exact time of submission

[2021-09-06 08:54] manaswiproject commented on #16
That'd be, Thursday 9th Aug by 6pm

[2021-09-06 09:26] Sanyogita22 commented on #16
today starting from 10 pm to 9th sept 6pm.....is what am adding in the fomr
okayy?

[2021-09-06 11:37] a24s commented on #18
Updated version with changes- https://drive.google.com/file/d/1Uu2e4hcH4wGcvAujLrRV7Hs_Keeoy2Dw/view

[2021-09-06 13:18] zeref221 commented on #16
Yes, go ahead with today 10pm to 9th sept 6pm!

[2021-09-06 16:48] nayanavarghese11 commented on #17
![Meme War (14)](https://user-images.githubusercontent.com/68808399/132246326-b679b7ad-575b-4417-81e8-bd050c3c22b4.png)

[2021-09-06 16:49] nayanavarghese11 commented on #17
![Meme War (13)](https://user-images.githubusercontent.com/68808399/132246363-47c6e363-3694-49e7-b37e-fd00c966b7ea.png)

[2021-09-06 16:49] nayanavarghese11 commented on #17
![Meme War (12)](https://user-images.githubusercontent.com/68808399/132246384-c81c67ad-c595-4aed-b7d0-0ce0cf60c666.png)

[2021-09-06 16:50] nayanavarghese11 commented on #17
![Meme War (11)](https://user-images.githubusercontent.com/68808399/132246431-92c770c1-1500-4bf6-a2f3-d15feefb79f2.png)

[2021-09-06 16:50] nayanavarghese11 commented on #17
![Meme War (4)](https://user-images.githubusercontent.com/68808399/132246474-ecf0308e-29de-40b5-ab97-c4435c7777b2.png)

[2021-09-07 05:24] manaswiproject commented on #17
![Uploading WhatsApp Image 2021-09-06 at 5.37.07 PM.jpeg…]()

[2021-09-07 05:24] manaswiproject commented on #17
FINAL POSTER

![Lord of the memes poster-final](https://user-images.githubusercontent.com/81001658/132288824-ed685eb5-f043-4fac-8741-c6d90bcc27eb.jpeg)

[2021-09-07 05:26] manaswiproject commented on #16
_**Final PR message:**_

Stand a chance to be titled "Lord Of The Memes"

The Bioengineering Club is hosting a meme-making competition this week and we are inviting you to show us how creative you can be!

Your memes should be original and related to our domain (i.e. on topics related to bioengineering)

Send in your submissions to us by 6pm on Thursday, 9th September

Submission link:https://sprw

[2021-09-07 05:26] #16 closed, assigned to Samruddhi-123, Anushka-CC-DS, tanishqua27, Sanyogita22

[2021-09-07 05:27] #15 closed, assigned to nobody

[2021-09-07 05:28] nayanavarghese11 commented on #17
Final Poster part 2
![Meme War Final ](https://user-images.githubusercontent.com/68808399/132289101-3702e3c7-fbeb-4e41-8752-0c4f00657f0b.png)

[2021-09-13 11:22] manaswiproject opened #20 "Social media improvement ideas"
Put your ideas here

[2021-09-13 11:37] manaswiproject commented on #19
Panel- Prez, Secretary, Head
Team members welcome to attend event
No audience, no faculty
Platform- Teams
Icebreaker- Music

[2021-09-13 11:55] manaswiproject commented on #19
IDEAS: (Anushka Joshi)
1) you can have a trailer for the club - events till now , bloopers , inside jokes
2) some kind of theme for clothes ? everyone wears some kind of color or something (sounds a little tacky idk)
3) as kavisha said , virtual backgrounds ??

[2021-09-13 12:07] manaswiproject commented on #19
Poorna- Have a Quick Talent Showcase segment at the end where the freshers can show some quick talents

[2021-09-13 12:13] manaswiproject commented on #17
Good poster. Needs improvement

[2021-09-13 12:14] manaswiproject commented on #17
@nayanavarghese11 pls check

[2021-09-13 12:15] manaswiproject opened #21 "trial"

[2021-09-13 12:18] preetambala commented on #21
hi @nayanavarghese11

[2021-09-13 12:21] #21 closed, assigned to preetambala

[2021-09-15 10:49] #18 closed, assigned to a24s, aagambamb

[2021-09-15 10:51] #17 closed, assigned to nayanavarghese11, Shreeya-Kadam, aagambamb, vinita08

[2021-09-16 08:13] KavishaShroff02 commented on #4
Write a review paper competition
get faculties to judge, the best ones can be taken ahead for publications, after some faculty mentor guides and refines.

[2021-09-16 12:43] tanishqua27 commented on #19
"One random object" activity : Divide the participants into teams , ask a team member to pick one random object that is in their room and describe that object in a animate way to the other teams and the team which guesses maximum objects fastest ,wins .

[2021-09-16 14:29] poornaaa opened #22 "Holistic Event - 4 (by executive team)"

[2021-09-16 14:41] poornaaa commented on #19
" *Introdu-chain* "
Participant List wise every 1st-year student introduces themselves in 4 lines but with a catch - A person will introduce themself starting with the last word spoken by the preceding person's introduction.
for eg:- the last word of person A's intro is "icecream"
              then the first word of the next person's intro becomes "icecream" as well
This will make sure that the i

[2021-09-16 18:37] zeref221 commented on #4
Guess the anime openings

[2021-09-17 12:50] shrabanagupta commented on #19
**Deadlines for PR message and poster:**

1. **PR message 1 (via mail)** :-  invitation + poster
- deadline for PR team to create:  21st Sept
- deadline for sending:  22nd Sept (5pm)

2. **PR message 2 (via mail)** :-  confirmation + remainder + link
- deadline for PR team to create:  21st Sept
- deadline for sending:  24th Sept

3. **Poster with PR msg 1**
- ready by 20th invitation poster: coord

[2021-09-17 12:54] vinita08 opened #23 "Poster for Freshers Event"
Deadlines:
Poster with PR msg1- 20TH SEPT (MON)
Itinerary- 22TH SEPT(WED)
BEC virtual backgrounds - 20TH SEPT (MON)

[2021-09-17 13:00] vinita08 commented on #23
Deadlines:
Poster with PR msg1- 20TH SEPT (MON)
Itinerary- 22TH SEPT(WED)
BEC virtual backgrounds - 20TH SEPT (MON)

[2021-09-17 13:33] zeref221 commented on #4
So every series have opening and ending songs
What if we make such opening and ending songs for our club events???
That would be so cool!

[2021-09-17 13:35] aagambamb commented on #4
Nice idea

On Fri, Sep 17, 2021, 19:03 zeref221 ***@***.***> wrote:

[2021-09-17 14:55] poornaaa commented on #22
As you guys know we, the executive team have to completely sketch, plan and execute the next holistic event .
Here are some points to start everything off :-
1.) The event should be done between the dates 25th Sept - 30th Sept.
2.) The date will be decided by our unanimous decision.
3.) We will run the event in three different steps :-
       a.) *Sketch* - The activity idea of the event and the d

[2021-09-19 09:38] poornaaa commented on #22
Hello Team!
I will summarise what was discussed and decided in the 18th Sept's meeting.
1.) Date of the event - 30th of Sept.
2.)Time of the event- 6pm
2.) Event Activity - Relate the words. (I'll add the description in the next message)
3.) A mini activity will take place in the first 5-10 mins till the time we wait for everyone to join in.
The mini activity will be a hobby/talent input activity

[2021-09-19 09:40] poornaaa commented on #22
Relate The Words.
1.) A Team game
2.) Participants will be divided into teams.
3.) The moderator will give them two absolutely unrelated words.
Eg. Banana and Ariana Grande
One by one each team member will say a word related to the word said b4.
Taking Same eg :-
Say there are three people in a team (P1, P2, P3)
Word given - banana
P1 - says something closely related to banana (let's say he said "

[2021-09-19 09:41] poornaaa commented on #22
excel sheet for words - https://docs.google.com/spreadsheets/d/16oAqJJ5L0U8FGMh2CXrOJyJaE7v-2qMKMu7k4vpNat0/edit#gid=0

[2021-09-19 10:22] vinita08 commented on #23
Virtual Backgrounds
A)
![BEC TEAM](https://user-images.githubusercontent.com/88326489/133923909-235b808f-3c2b-4940-a096-d57a4642acdf.png)

[2021-09-19 10:22] vinita08 commented on #23
B)
![BEC TEAM (1)](https://user-images.githubusercontent.com/88326489/133923935-aec55380-afc6-4b8d-b183-641db4e8aff1.png)

[2021-09-19 15:11] KavishaShroff02 commented on #23
1. the guys on the DNA with the gear, look like they are bringing the gear down, instead of taking it up, we wanna show that we are lifting people up, so maybe reposition that.
2. can we have one more stick figure holding the logo, to show like it's a team effort.
3. maybe change the font, if find any better.

[2021-09-19 15:41] iris-byte commented on #23
it'd be better if the colour of the original BEC logo is maintained.

[2021-09-19 16:22] nayanavarghese11 commented on #23
Poster Sample 1

![1](https://user-images.githubusercontent.com/68808399/133935023-6035a26a-8704-4c2a-a8a0-9980db4c856c.png)

[2021-09-19 16:22] nayanavarghese11 commented on #23
Poster sample 2

![2](https://user-images.githubusercontent.com/68808399/133935035-444736d1-4ff8-446f-b7a4-b1dccd8a171d.png)

[2021-09-19 16:23] nayanavarghese11 commented on #23
Poster sample 3

![3](https://user-images.githubusercontent.com/68808399/133935048-32db97ae-73a8-4501-ac0a-9aea44ad306b.png)

[2021-09-19 16:23] nayanavarghese11 commented on #23
Poster sample 4

![4](https://user-images.githubusercontent.com/68808399/133935059-baa779fd-4d9f-4a48-aa4b-2b43a2c98221.png)

[2021-09-19 16:23] nayanavarghese11 commented on #23
Poster sample 5

![5](https://user-images.githubusercontent.com/68808399/133935068-e83e4ddb-aa51-4ee1-9622-48a4a2e81a93.png)

[2021-09-19 16:24] nayanavarghese11 commented on #23
Poster sample 6

![6](https://user-images.githubusercontent.com/68808399/133935087-cce239ea-2726-4b43-bd96-61bc65e344a5.png)

[2021-09-19 16:25] nayanavarghese11 commented on #23
Poster sample 7

![7](https://user-images.githubusercontent.com/68808399/133935117-488d1a4a-b19e-49de-850d-db662163912c.png)

[2021-09-19 18:50] nayanavarghese11 commented on #23
Poster sample 8

![Uploading 11.png…]()

[2021-09-19 18:50] nayanavarghese11 commented on #23
Poster sample 8

![11](https://user-images.githubusercontent.com/68808399/133939280-8d05cce7-69b7-494c-8f2d-0b3afb18f20f.png)

[2021-09-19 18:51] nayanavarghese11 commented on #23
Poster sample 9

![9](https://user-images.githubusercontent.com/68808399/133939293-d4d23202-9041-4b35-9b36-77e71505588d.png)

[2021-09-19 18:51] nayanavarghese11 commented on #23
Poster sample 10

![7](https://user-images.githubusercontent.com/68808399/133939308-f9e0e292-6300-404b-927a-eaafb51d4d1c.png)

[2021-09-19 18:52] nayanavarghese11 commented on #23
Poster sample 11

![6](https://user-images.githubusercontent.com/68808399/133939321-227d9793-befd-4a18-80c8-47ac8180b882.png)

[2021-09-19 18:52] nayanavarghese11 commented on #23
Poster sample 12

![1](https://user-images.githubusercontent.com/68808399/133939340-ff29dd9b-d7cf-4823-b594-8a88969e87ac.png)

[2021-09-20 04:19] KavishaShroff02 commented on #23
can we call it fresher's introduction event?

[2021-09-20 07:42] vinita08 commented on #23
updated Virtual Backgrounds
![BEC TEAM VB](https://user-images.githubusercontent.com/88326489/133970163-6334ab57-8dbb-432c-921e-b17fd9c3208a.png)

[2021-09-20 07:43] vinita08 commented on #23
![BEC TEAM VB (1)](https://user-images.githubusercontent.com/88326489/133970222-e66b3f08-27b1-4ddd-afec-1e329c6ca361.png)

[2021-09-20 08:06] nayanavarghese11 commented on #23
Yes, I will do it once the poster design is confirmed.

[2021-09-20 12:01] KavishaShroff02 commented on #23
final background

[2021-09-20 12:02] KavishaShroff02 commented on #23
this design

[2021-09-20 12:03] Sanyogita22 commented on #19
Hey Freshers,
Welcome to MIT-BIO!
We are so excited to have you here with us!
We have an informal session planned for you,with all the clubs of SBSR to introduce ourselves and brief you about our workings and get to know each other better.
Join us on 25th @ 5:30pm and get to know your institution better!
Do join in we'll make it our responsibility to make sure you have fun.

[2021-09-20 12:05] nayanavarghese11 commented on #23
Sample 13
![Fresher's Event](https://user-images.githubusercontent.com/68808399/133999140-8ca0e91b-7562-4d79-8d38-d29d82c2c575.png)

[2021-09-20 12:05] nayanavarghese11 commented on #23
Sample 14

![Uploading Fresher's Event.png…]()

[2021-09-20 12:05] nayanavarghese11 commented on #23
Sample 14

![Fresher's Event (1)](https://user-images.githubusercontent.com/68808399/133999255-d7e448e5-1b81-474e-9b0a-18d29fc39974.png)

[2021-09-20 12:07] zeref221 commented on #23
Getting Started

[2021-09-20 12:08] zeref221 commented on #23
Meet the teams

[2021-09-20 12:09] zeref221 commented on #23
Start and benefit

[2021-09-20 12:09] zeref221 commented on #23
Greet and g-meet

[2021-09-20 12:10] zeref221 commented on #23
Affairs to remember

[2021-09-20 12:10] zeref221 commented on #23
A Flair to Remember

[2021-09-20 12:10] zeref221 commented on #23
INITIALS AND ABBREVIATIONS

[2021-09-20 12:10] zeref221 commented on #23
The First step

[2021-09-20 12:11] zeref221 commented on #23
Mission Connect

[2021-09-20 12:11] zeref221 commented on #23
Club with benefits

[2021-09-20 12:12] zeref221 commented on #23
Kilometre high club!

[2021-09-20 12:13] zeref221 commented on #23
Club education

[2021-09-20 12:14] zeref221 commented on #23
C.L.U.B.S.

[2021-09-20 12:14] zeref221 commented on #23
MITBIO Alliance

[2021-09-20 12:15] zeref221 commented on #23
Attack on clubs

[2021-09-20 12:17] zeref221 commented on #23
Club chronicles

[2021-09-20 12:18] zeref221 commented on #23
Legend of the Clubs

[2021-09-20 12:18] zeref221 commented on #23
Game of Clubs (GOC)

[2021-09-20 12:19] zeref221 commented on #23
That time I got reincarnated in MITBio clubs

[2021-09-20 12:21] zeref221 commented on #23
Fresher's meet

[2021-09-20 12:32] Shreeya-Kadam commented on #23
@preetambala sir please review poster number 14. The team has finalized this one.

[2021-09-20 12:36] 007divy commented on #19
**HOST**

1.  Tanishqua (For starting the event)
2.  Anushka Singh (for Icebreaker)

**Screen Share**

1.  Sanyogita Dhakane

**Poster**

1.  Poster no 14

**PPT**

1.  Heading - Abount us - What we do - Photos of members - Tag line

**Platform**

1.  Zoom / Microsoft

**Icebreaker**

1.  True/False

** Contents of invitation**

-Make the msg more gen-z
- Welcoming and excited, make them feel invi

[2021-09-21 07:14] vinita08 commented on #23
![BEC TEAM VB (2)](https://user-images.githubusercontent.com/88326489/134127512-518a554a-9be0-4501-94ef-60c0db603b54.png)
@manaswiproject please check if this works

[2021-09-21 12:28] zeref221 commented on #23
@Bioengineering-Club-2021A/core-team @Bioengineering-Club-2021A/executive-team @preetambala

Everyone please vote for one name for the 25th event

[2021-09-21 17:31] poornaaa commented on #22
event - 30th
registration deadline - 29th till 12 pm
registration start - 27th 12 pm

PR message - 26th till 12 pm
Posters - 26th till 12 pm
Registration Form - 26th till 12 pm
*Confirmation mail + link - 29 - 9pm / 30- 10 am
Moderators - (will be decided after registration )
Recording - Deb / Naman / Aditya (more if required after registration)

[2021-09-26 12:28] vinita08 commented on #22
Sample 1
![SEPT 30](https://user-images.githubusercontent.com/88326489/134808038-0d09b350-444b-4a75-a749-c809702aa09c.png)

[2021-09-26 12:45] nayanavarghese11 commented on #22
Poster sample 2

![1.png](https://user-images.githubusercontent.com/68808399/134808633-3e6a0733-522a-492a-995b-78423e1977db.png)

[2021-09-26 12:46] nayanavarghese11 commented on #22
Poster sample 3

![2.png](https://user-images.githubusercontent.com/68808399/134808641-bf2bc65d-e08a-44c0-8927-94f50ac12544.png)

[2021-09-26 12:46] nayanavarghese11 commented on #22
Poster sample 4

![3.png](https://user-images.githubusercontent.com/68808399/134808651-4fce9efa-7dbd-459f-9b18-11575ba98d7a.png)

[2021-09-26 12:46] nayanavarghese11 commented on #22
Poster sample 5

![4.png](https://user-images.githubusercontent.com/68808399/134808665-664c6644-bbb8-4afb-b352-af2dee857924.png)

[2021-09-26 12:47] nayanavarghese11 commented on #22
Poster sample 6

![5.png](https://user-images.githubusercontent.com/68808399/134808676-ffeaa8e3-eeb1-49cf-814e-3b17860f181c.png)

[2021-09-26 12:47] nayanavarghese11 commented on #22
Poster sample 7

![6.png](https://user-images.githubusercontent.com/68808399/134808686-f64ea601-fe8b-448c-8e61-3f9229c4c026.png)

[2021-09-26 15:50] nayanavarghese11 commented on #22
@preetambala sir please review the poster samples.

[2021-09-26 17:28] Amartya-18 commented on #22
Greetings, fellow Bioengineers!
We hope you all are keeping well and are safe.

This week, the BEC is exhilarated to bring you our 4th holistic event .
Your time management skills & quick-witnedness "will be put to test " as you take part in this interactive  game  of *RELATE THE WORDS* .

So , join us  this Thursday on 30th September @  6 pm for the battle of wits and heaps of fun.

We look forwa

[2021-09-27 05:16] KavishaShroff02 commented on #22
sounds good.
suggestion- please explain what the game means, like what will have to do.

[2021-09-27 05:28] #23 closed, assigned to nayanavarghese11, Shreeya-Kadam, aagambamb, vinita08

[2021-09-27 05:29] #19 closed, assigned to nobody

[2021-09-27 05:33] manaswiproject commented on #22
Looks good! If we could just make the poster a little more personalized. As in, make it in a way that is conveys what the event is about. Our event is about linking 2 words together so represent that in the poster. Its more intriguing to the audience that way

[2021-09-27 06:12] preetambala commented on #22
The transparent logo of MITBIO is attached for the creatives.

Wishes,
*Preetam*

On Mon, Sep 27, 2021 at 11:03 AM Manaswi Patil ***@***.***>
wrote:

--
DISCLAIMER: Copyright © 2021 MIT ADT University All rights reserved.
This
message may contain confidential, proprietary or legally privileged
information. In case you are not the original intended Recipient of the
message, you must not, directly o

[2021-09-27 06:34] vinita08 commented on #22
poster sample 8
![SEPT 30 (1)](https://user-images.githubusercontent.com/88326489/134856221-4fa312f8-5bc9-4297-9f57-48045b320762.png)

[2021-09-27 06:35] vinita08 commented on #22
poster sample 9
![SEPT 30 (2)](https://user-images.githubusercontent.com/88326489/134856351-b44d66af-103a-46ef-81a2-caa8b71a6641.png)

[2021-09-27 06:35] vinita08 commented on #22
poster sample 10
![SEPT 30 (3)](https://user-images.githubusercontent.com/88326489/134856395-b0fd2158-1090-4872-bfff-0ad2fa85eeeb.png)

[2021-09-27 06:51] poornaaa commented on #22
Main event Name - Cross Connection
Mini activity name - Hobby Lobby

[2021-09-27 06:57] preetambala commented on #22
Sounds so Interesting! So what will be the event actually.. I mean description of the event in brief?

[2021-09-27 06:58] Sanyogita22 commented on #22
https://sprw.io/stt-807ef9
forms

[2021-09-27 06:59] preetambala commented on #22
Looks good... you can play with the colors if you wish but as it is too good to go

[2021-09-27 07:00] preetambala commented on #22
you can use your social media links in each poster so that we can have increased traction

[2021-09-27 07:58] vinita08 commented on #22
poster sample 11
![SEPT 30 (4)](https://user-images.githubusercontent.com/88326489/134867619-9545bb4f-3b34-46c8-807f-d6f8ff42688b.png)

[2021-09-27 07:59] vinita08 commented on #22
poster sample 12
![SEPT 30 (5)](https://user-images.githubusercontent.com/88326489/134867770-7769b459-5463-4e5b-b2af-dde210c01e8d.png)

[2021-09-27 08:01] KavishaShroff02 commented on #22
@vinita08 could you please use the updated BEC logo with the text for all posters.
@Sanyogita22 could you please share the editing link of the form with the BEC account.

[2021-09-27 09:39] poornaaa commented on #22
![Cross connection](https://user-images.githubusercontent.com/88326416/134884353-6596af8a-b3a6-403c-a037-5bea0a1ee96f.png)

[2021-09-27 09:58] Anushka-CC-DS commented on #22
![CROSS CONNECTION (1)](https://user-images.githubusercontent.com/80615230/134887601-ae41e8a0-3577-4a18-8ca3-5bb6eb69d0c1.png)

[2021-09-28 06:48] poornaaa commented on #22
When we hear the words DNA and Genetics - we directly think of the relation between them, but if it's DNA and  Telescope?🤔
Um does not really seem related right ?😅
 Well now, you will relate them together, in this new game called "The cross-connection"🥳 -->Teams will receive pairs of absolutely unrelated words which they will have to try n connect in a given time limit .each closely related word w

[2021-09-28 15:00] zeref221 commented on #4
**3 min thesis**

An event where students and even faculty could show their creativity!

Since there is a time limit, the participants would have to make their presentation clear and concise, from which the points can be clearly communicated.

Source for idea:
https://youtu.be/dh0pJdgY6Lc

[2021-09-29 15:08] vinita08 commented on #22
FINALE POSTER SAMPLE 1
@preetambala sir please review
![Finale cross connection](https://user-images.githubusercontent.com/88326489/135296835-5640f90f-4688-4514-8c8d-684fbd2d9d38.png)

[2021-09-29 15:09] vinita08 commented on #22
FINALE POSTER SAMPLE 2
![Finale cross connection](https://user-images.githubusercontent.com/88326489/135296951-addf6fc3-d3c4-4086-b8f4-bfe22022b20c.jpg)

[2021-09-29 15:09] vinita08 commented on #22
FINALE POSTER SAMPLE 3
![Finale cross connection (1)](https://user-images.githubusercontent.com/88326489/135297023-e9a80741-921a-423e-b9fd-05317a8e892d.png)

[2021-09-29 15:10] vinita08 commented on #22
FINALE POSTER SAMPLE 4
![Finale cross connection (2)](https://user-images.githubusercontent.com/88326489/135297141-4e5a6da0-b7a2-4ee5-a846-47594d1a22b8.png)

[2021-09-29 15:11] vinita08 commented on #22
WINNERS SAMPLE POSTER (COLOR CAN BE CHANGED)
![Finale cross connection (3)](https://user-images.githubusercontent.com/88326489/135297334-0544441b-38df-4371-8c1d-b001e1358e7d.png)

[2021-09-30 17:36] zeref221 commented on #22
Closing this issue!

[2021-09-30 17:36] #22 closed, assigned to nayanavarghese11, Anushka-CC-DS, naman-hora, a24s, aagambamb, poornaaa, Amartya-18

[2021-10-04 15:52] manaswiproject opened #24 "Future plans"
There are 2 main things we want to focus on:
1. Database
2. Research and Projects

Comment all all your ideas here!

[2021-10-04 15:55] #20 closed, assigned to nobody

[2021-10-05 11:33] zeref221 commented on #3
We would need an office when we come back!!!!!!!!

[2021-10-05 12:09] aagambamb commented on #3
Design ka ground

On Tue, Oct 5, 2021, 17:04 zeref221 ***@***.***> wrote:

[2021-10-26 12:09] manaswiproject opened #25 "Holistic event 5: Poster competition"

[2021-10-26 12:19] manaswiproject commented on #25
Date: 27th Nov
Time: post-lunch (1:30pm)

Separate topics for FY-SY and TY
_Ask faculties for "problem statements"_

Slot wise presentation- 30 mins slots (x teams per slot)
Teams other than the ones given that slot won't be allowed inside
Only supporters and teams allowed inside

Non-participants, will help with organisation

Submission of posters from 20-22nd
Faculty feedback by 24th

[2021-10-26 12:25] manaswiproject commented on #25
**Deadlines:**
Topics form for faculty- PR team - 29th Oct (send)
Poster for event - Creative team - 31st Oct (ready)
PR message for event (with reg form)- PR team - 31st Oct (ready)

[2021-10-26 12:34] manaswiproject commented on #25
Instruction file (send with message and poster): detailed instructions, rules about poster, template

[2021-10-26 14:06] zeref221 opened #26 "Social Mixer Ideas"
Please drop your ideas down below!

Feel free to list any ideas for games, networking activities, or ice-breakers (Please include a brief description)

[2021-10-26 17:28] shrabanagupta commented on #26
Do we find ideas for promoting bioengineering socially in an international platform so that it can benefit environment and human race?

[2021-10-26 17:47] zeref221 commented on #26
Sounds good on paper, but can you give an example to elaborate on this?

[2021-10-26 18:22] shrabanagupta commented on #26
What I want to say is we as bioengineers work with various fields of biology and also engineering. So if we can come up with a topic or say something that is an application of Bioengineering as a domain which is also beneficial for the human race, then we will be able to connect with a lot more people who may have such common ideas in their minds as well.
I don't have a clear idea as of now but ca

[2021-10-27 02:45] zeref221 commented on #26
Alright, even I'll think about it!

[2021-10-29 11:57] Amartya-18 commented on #25
PR message for the faculty form:

To ,
The esteemed faculty of MIT BIO (SBSR)
Greetings for the day !!!

From the New Normal , its time to say, we are back to normal . The word online , finally takes a halt as we are back on the field, & the  Bioengineering Club is ecstatic to organise /orchastrate  a poster competition ,that will provide an opportunity to decipher a new dimension of mind ,involvi

[2021-10-29 12:36] Sanyogita22 commented on #25
https://forms.gle/onxLRcPxjCTBWuEP7
faculty form

[2021-10-29 12:55] tanishqua27 commented on #25
https://sprw.io/stt-caa987 , registration form

[2021-10-31 16:32] nayanavarghese11 commented on #25
![3](https://user-images.githubusercontent.com/68808399/139593217-71ebbe65-d36d-46de-a746-2c1e09c80962.png)
Poster sample 1.
If the text part is looking crowded I can reduce the number of words or reduce the transparency.
Open to suggestions.

[2021-10-31 16:33] nayanavarghese11 commented on #25
Poster Sample 2
![2](https://user-images.githubusercontent.com/68808399/139593348-958cf44f-4552-4161-a8ac-3be2de169fcc.png)

[2021-10-31 16:35] nayanavarghese11 commented on #25
Poster Sample 3
![4](https://user-images.githubusercontent.com/68808399/139593390-01da3dbd-46e4-416e-a80d-c463642dd371.png)

[2021-10-31 16:36] nayanavarghese11 commented on #25
Poster Sample 4

![5](https://user-images.githubusercontent.com/68808399/139593463-26d506ae-d79a-47e6-ab17-1f2f032f2018.png)

[2021-10-31 16:36] nayanavarghese11 commented on #25
Poster Sample 5

[2021-10-31 16:37] nayanavarghese11 commented on #25
Poster Sample 5

![1](https://user-images.githubusercontent.com/68808399/139593502-b21affc0-3fe8-4ef5-9c26-1c0367416679.png)

[2021-11-05 03:55] zeref221 opened #27 "One liner for club"
Criteria:
- Conversational
- No Jargon
- No preamble
- Concise

Please add your one liner based on given criteria and also vote with a 👍🏻 for the lines you like the best!

[2021-11-05 03:58] zeref221 commented on #27
Ideas refined, future designed

[2021-11-05 03:58] zeref221 commented on #27
Your future glimpse on our meeting links

[2021-11-05 03:59] zeref221 commented on #27
Professional ladder with a funny bladder

[2021-11-05 04:00] zeref221 commented on #27
Join us, we cure boredom

[2021-11-05 04:06] zeref221 commented on #27
Novelty with a hint of familiarity

[2021-11-05 04:07] zeref221 commented on #27
Bridging the gap between what's taught and what's expected

[2021-11-08 00:27] zeref221 commented on #3
Pool party!!!!

[2022-01-31 16:43] #25 closed, assigned to nobody

[2022-01-31 16:43] #26 closed, assigned to nobody

[2022-01-31 16:45] #27 closed, assigned to nobody

[2022-01-31 16:54] manaswiproject opened #28 "Openhouse ideas (Instagram stories, Event flow)"
1. Icebreaker- 10 mins (initiated by Kavisha)
2. What is BEC- 5 mins (explained by Neilay and Manaswi)
3. Explain club roles- 2-3mins (Divy Shah)
4. Teams talk- 10-15 mins (initiated by Shreeya, Samruddhi and Amala)
5.Questions/Interaction- all

Total formal talk - try to keep under 20 mins
Total event time (on paper) - 1 hour

[2022-01-31 16:56] manaswiproject commented on #28
Speed networking- breakout rooms and individual interactions

[2022-01-31 16:57] manaswiproject commented on #28
Pls leave ideas for the Instagram stories

[2022-01-31 17:00] manaswiproject commented on #24
@Amartya-18 @Anushka-CC-DS @anuushkajoshi @Debkalyan44 @naman-hora @poornaaa @Sanyogita22 @shrabanagupta @shraddhashinde02 @tanishqua27 @vinita08
All yours...

[2022-01-31 17:06] shrabanagupta commented on #28
Instagram story ideas -
1) Ask a question tag - what is bec according to you ?
2) Choose the correct option - myths about bec and let them choose the correct one
3) Poll - would you like to join bec as a core or exec member

[2022-08-24 15:43] manaswiproject opened #29 "Test issue"
This is a test for the new BEC 2023

[2022-08-24 16:14] manaswiproject opened #30 "Test BEC- issue poster"
make issue @KavishaShroff02

[2022-08-24 16:15] manaswiproject commented on #30
cant be resolved

[2022-08-24 16:20] #30 closed, assigned to unorthodox19112001

[2022-08-24 16:24] manaswiproject commented on #17
test